
<form asp-action="Create" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    <div class="mb-3">
        <h1 class="mb-2" align="center">Завантажте файл будь-ласка</h1>
        <div class="form-group  mb-5" align="center">
            <div class="mb-3">
                <input multiple class="choose" type="file" name="contact" />
            </div>
            <div class="form-group mb-3">
                <div>
                    <input class="btn btn-primary" type="submit" value="Завантажити" />
                </div>
            </div>
        </div>
    </div>
</form>

